.my_serrif_text {
    font-family: serif;    
}

.my_special_color {
    color: rgb(207, 194, 163) !important;
}

.my_background_color {
    background-color: rgb(207, 194, 163)  !important;
}

.my_text_color {
    color: rgb(207, 194, 163)  !important;
}

